{% extends 'base.html' %}
{% block content %}
<h2>Review Chick Sale</h2>

<table class="table">
    <thead>
        <tr>
            <th>Chick</th>
            <th>Price (ج.م)</th>
        </tr>
    </thead>
    <tbody>
        {% for pair in chick_sale_pairs %}
        <tr>
            <td>{{ pair.chick.name }}</td>
            <td>ج.م{{ pair.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirm Sale</button>
</form>

{% endblock %}
