{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Track Na3am</h1>
<h2>Ostrich Farm Management System</h2>


<!-- Add links to other pages -->
<div class="mt-4">
    <a href="{% url 'add_pitch' %}" class="btn btn-primary">Add New Pitch</a>
    <br><br><br>
    <a href="{% url 'add_family' %}" class="btn btn-primary">Add New Family</a>
    <br><br><br>
    <a href="{% url 'add_ostrich' %}" class="btn btn-primary">Add New Ostrich</a>
    <br>
</div>
<br><br><br><br><br><br>
{% endblock %}