{% extends 'base.html' %}

{% block content %}
<h2>Add Rent or Tax Cost</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_name">Name:</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        <label for="id_price">Price (ج.م):</label>
        {{ form.price }}
    </div>
    <div class="mb-3">
        <label for="id_date_paid">Date Paid:</label>
        {{ form.date_paid }}
    </div>
    <div class="mb-3">
        <label for="id_notes">Notes:</label>
        {{ form.notes }}
    </div>
    <button type="submit" class="btn btn-primary">Add Cost</button>
</form>
{% endblock %}